/* Importing Google Fonts */
@import url("https://fonts.googleapis.com/css2?family=Caveat:wght@400..700&family=Great+Vibes&family=Lexend+Deca:wght@100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Rubik:ital,wght@0,300..900;1,300..900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.flex {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

/* Navigation Styles */
.navbar {
  display: flex;
  background-color: #FFFFFF;
  box-shadow: 0 -4px 17px #0b0421;
  margin-bottom: 6px;
}

.navbar__lists {
  list-style-type: none;
  display: flex;
  justify-content: flex-end;
  width: 100%;
}

.navbar__link {
  display: inline-block;
  text-decoration: none;
  padding: 20px 20px;
  font-size: 18px;
  color: #000;
  cursor: pointer;
  transition: color 0.3s linear;
}

.navbar__link:hover {
  color: #8f6c0c;
}

/* Banner Styles */
.banner {
  display: flex;
  position: relative;
  overflow: hidden;
  line-height: 30px;
}

.banner__left {
  width: 35%;
  height: 700px;
  background-color: #f0c244;
  position: relative;
  transition: width 0.5s ease;
}

.banner__right {
  width: 65%;
  height: 700px;
  background-color: #0b0421;
  color: #FFFFFF;
  position: relative;
  transition: width 0.5s ease;
}

.banner__profile { 
  position: absolute;
  left: 40%;
  transform: translateX(-50%);
  bottom: 0;
  width: 500px;
  z-index: 1;
  filter: drop-shadow(-19px 4px 13px #0b0421);
  transition: transform 0.5s ease, opacity 0.5s ease;
}

/* Define keyframes for fadeIn animation */
@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(-20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.banner__content { 
  position: absolute;
  left: 16%;
  top: 20%;
  opacity: 0;
  transition: transform 0.5s ease, opacity 0.5s ease;
  animation: fadeIn 1s ease forwards;
}

.banner__title { 
  font-family: Arial, sans-serif; /* Using a simple font */
  line-height: 40px;
  margin-bottom: 20px;
  animation: fadeIn 1s ease 0.5s forwards;
  opacity: 0;
}

.banner__title--l { 
  font-size: 40px;
}

.banner__title--m {
  font-size: 30px;
}

.banner__description {
  font-size: 30px;
  font-family: "Caveat", cursive;
  letter-spacing: 5px;
  animation: fadeIn 1s ease 1s forwards;
  opacity: 0;
}

.logo { 
  background-image: url("logo.png");
  background-size: cover;
  height: 50px;
  width: 100px;
  justify-content: center;
}
